# node_modules
client/node_modules/
server/node_modules/

# environment files
client/.env.local
server/.env


# build output
client/dist/
server/build/

# dependency directories

# logs
*.log

# OS/system files
.DS_Store
Thumbs.db
